/*========Google Fonts - Petrona========*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Petrona:ital,wght@0,100..900;1,100..900&display=swap');
/*=========Google Fonts - Inter=========*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*===================== VARIAVEIS CSS ===========================*/
:root {
    --header-height: 3rem;

    /*===================== CORES ===========================*/
    --hue-color: 338;
    --black-color: hsl(var(--hue-color), 0%, 2%);
    --nav-color: hsl(var(--hue-color), 0%, 10%);
    --title-color: hsl(var(--hue-color), 100%, 100%);
    --text-color: hsl(var(--hue-color), 0%, 75%);
    --text-color-alt: hsl(var(--hue-color), 100%, 53%);
    --button-color: hsl(var(--value-color), 4%, 19%);
    --text-gradient: linear-gradient(hsl(var(--hue-color), 26%, 39%), hsl(var(--hue-color), 4%, 8%));
    --carroussel: linear-gradient(0deg, rgba(129,3,62,1) 0%, rgba(7,7,7,1) 100%);

    /*================= FONTES E TIPOGRAFIA ===================*/
    --primary-font: "Petrona", serif;
    --secundary-font: "Inter", sans-serif;
    --biggest-font-size: 5rem;
    --bigger-font-size: 3.5rem;
    --big-font-size: 2.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --text-line-height: 2rem;

    /*================= GROSSURA DA FONTE ===================*/
    --font-small: 300;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*================= MARGENS ===================*/
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /*================= Z-INDEX ===================*/
    --z-tooltip: 10;
    --z-fixed: 100;

}

/*================= TIPOGRAFIA RESPONSIVA ===================*/
@media screen and (min-width: 968px) {
    :root{
        --bigger-font-size: 3.5rem;
        --big-font-size: 2.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1.125rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
    }
}
@media screen and (max-width: 340px) {
    :root{
        --big-font-size: 1rem;
        --h2-font-size: .938rem;
        --h3-font-size: .813rem;
        --normal-font-size: .738rem;
        --small-font-size: .613rem;
        --smaller-font-size: .75rem;
    }
}



/*================= BASE ===================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--secundary-font);
    font-size: var(--normal-font-size);
    background-color: var(--black-color);
    color: var(--text-color-alt);
}

h1, h2, h3 {
    color: var(--title-color);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}

/*================= CLASSES REUTILIZAVEIS ===================*/
.section {
    padding: 4rem 0 2rem;
}



/*================= LAYOUT ===================*/
main {
    overflow: hidden; /* Esconde o conteúdo quando estoura o container */
}

.container {
    max-width: 968px;
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
}
.grid {
    display: grid;
}

/*================= HEADER ===================*/
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background: transparent;
}
/*================= NAV ===================*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo {
    display: flex;
    width: 9rem;
}

.nav__toggle {
    font-size: 1.2rem;
    color: var(--text-color);
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        background-color: var(--nav-color);
        top: -100%;
        left: 0;
        width: 100%;
        padding: 4rem 0 3rem;
        transition: .6s;
    }
    .user i{
        color: var(--text-color-alt);
        border: solid 1px var(--text-color-alt);
        border-radius: 20px;
        padding: 4px;
        transition: all 0.3s ease;
    }

}

.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.nav__link {
    color: white;
    font-size: var(--h2-font-size);
    text-transform: uppercase;
    font-weight: var(--font-semi-bold);
    background: var(--text-gradient);
    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}
.nav__link:hover {
    background: var(--text-color-alt);
    color: transparent;
    -moz-background-clip: text;
    background-clip: text;
}

.nav__user-actions {
    display: flex;
    gap: 1rem;
}

.user i {
    cursor: pointer;
    color: var(--text-color-alt);
    border: 1px solid var(--text-color-alt);
    border-radius: 50px;
    padding: 8px;
    transition: all 0.3s ease;
    background-color: var(--button-color);
}
.user i:hover, button:hover {
    background-color: var(--text-color-alt);
    color: var(--text-color);
}
button {
    display: inline-block;
    padding: 9px 25px;
    background-color: var(--button-color);
    border: 1px solid var(--text-color-alt);
    color: var(--text-color-alt);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav__close {
    position: absolute;
    font-size: 1.5rem;
    top: 1rem;
    right: 1rem;
    color: var(--text-color);
    cursor: pointer;
}

/*== mostrar menu ==*/
.show-menu {
    top: 0;
}
/*== trocar background menu ==*/
.scroll-header {
    background-color: var(--nav-color);
}


/*======================== HOME ====================*/
.home__img {
    width: 300px;
    position: absolute;
    top: -14rem;
    left: 3rem;
}
.home__data {
    padding-top: 4rem;
}
.home__title {
    font-size: var(--normal-font-size);
    line-height: 1.2;
}
.home__title h2 {
    margin-left: 1rem;
}
.home span {
    color: var(--text-color-alt);
}
.home__subtitle {
    color: var(--text-color);
    font-size: var(--small-font-size);
    padding: 1rem;
    line-height: 1.1;
}
.homeBtn {
    margin-left: 2rem;
}
.homeBtn a {
    display: inline-block;
    font-size: 1rem;
    padding: 1rem 2rem;
    background-color: var(--text-color-alt);
    color: var(--text-color);
    border: 0;
    transition: .3s;
}
.homeBtn a:hover {
    background-color: var(--title-color);
    color: var(--text-color-alt);
}
/*======================== FOUNDERS ====================*/
.founders__container {
    grid-template-rows: 1fr 100px;
    row-gap: 2rem;
}
.founder__article {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem 1.5rem;
}
.founders__card {
    display: grid;
    position: relative;
    height: 125px;
    background-color: var(--nav-color);
    border-radius: .5rem;
    padding: .55rem;
}
.founders__img {
    width: 80px;
    border-radius: 50%;
    position: absolute;
    inset: 0;
    margin-left: auto;
    margin-right: auto;
    top: -3rem;
}

.founders__content {
    align-self: flex-end;
    font-size: var(--small-font-size);
}

.founders__title {
    text-align: center;

}
.founders__description {
    display: flex;
    justify-content: center;
    text-align: justify;
    color: var(--text-color);
}
.founders__content.founders__description {
    font-size: var(--smaller-font-size);
}
.founders__text.founders__description {
    font-size: var(--small-font-size);
}


/*==================== CARROUSEL ====================*/

/*Função Slider*/

/*

.carroussel {
    margin: 0;
    background: var(--carroussel);
    user-select: none;
    height: 37vw;
}
#carroussel label img {
    width: 100%;
    height: 100%;
}
#slider {
    position: relative;
    width: 50%;
    height: 30vw;
    margin: 40px auto;
    font-family: var(--secundary-font);
    perspective: 1400px;
    transform-style: preserve-3d;

}
input[type=radio] {
    position: relative;
    top: 108%;
    left: 50%;
    width: 12px;
    height: 12px;
    margin: 0 15px 0 0;
    opacity: .4;
    transform: translateX(-83px);
    cursor: pointer;
}
input[type=radio]:nth-child(5) {
    margin-right: 0px;
}
input[type=radio]:checked {
    opacity: 1;
}
#slider label {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: var(--text-color);
    display: flex;
    align-items: end;  
    transition: 400ms ease;
}
#slider label h1 {
    position: absolute;
    font-size: var(--small-font-size);
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    padding: 0.95rem;
}
h1 span {
    color: var(--text-color-alt);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
    box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
    transform: translate3d(0%, 0, 0px);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(15%, 0, -100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(30%, 0, -250px);
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(-30%, 0, -250px);
}
#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(-15%, 0, -100px);
}

@media only screen and (min-width: 341px) and (max-width: 500px) {
    .carroussel {
        display: flex;
        background: var(--black-color);
        height: auto;
    }
    #slider {
        position: static;
        width: auto;
        height: fit-content;
    }
    input[type=radio] {
        display: none;
    }
    #slider label {
        position: relative;
    }
    #s1:checked ~ #slide1, #s1:checked ~ #slide2, #s1:checked ~ #slide3,
    #s1:checked ~ #slide4, #s1:checked ~ #slide5, #s5:checked ~ #slide5 {
        transform: none;
    }
    #slider label h1 {
        font-size: var(--h2-font-size);
        height: 3.5rem;
        padding: 0 2.2rem;
    }
} 
*/

/*==================== CARROUSEL TWO ====================*/

.carrousel {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--carroussel);
    height: 100dvh;
}
.carrousel__container {
    width: 70%;
    height: 70%;
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    position: relative;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-slide p {
    position: absolute;
    top: 13rem;
    padding: 1.5rem 2.5rem;
    color: var(--title-color);
    font-size: 2rem;
    font-family: var(--secundary-font);
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    text-align: justify;
}
.swiper-slide a {
    display: flex;
    justify-content: center;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}




/*======================== FOOTER =============================*/
.footer__container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 2rem;
}
.footer__logo {
    width: 7rem;
}
.footer__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}
.footer__links {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}
.footer__link {
    color: var(--text-color);
}
.footer__link:hover {
    color: var(--primary-color);
}
.footer__form {
    display: flex;
    column-gap: .5rem;
    background-color: var(--nav-color);
    padding: .5rem .75rem;
    border-radius: .5rem;
    margin-bottom: var(--mb-2);
}
.footer__input {
    background-color: var(--nav-color);
    width: 90%;
    color: white;
    border: none;
}
.footer__input::placeholder {
    color: var(--text-color);
    font-size: var(--normal-font-size);
    font-family: var(--secundary-font);
}
.button__flex {
    display: inline-flex;
    align-items: center;
    column-gap: .75rem;
}
.footer__social {
    display: flex;
    column-gap: 1.25rem;
}
.footer__social-link {
    display: inline-flex;
    color: var(--text-color);
    background-color: var(--nav-color);
    padding: .5rem;
    border-radius: .25rem;
    font-size: 1rem;
}
.footer__social-link:hover {
    background-color: var(--black-color);
}
.footer__copyright, .footer__link-copy {
    margin-top: 5rem;
    text-align: center;
    font-size: var(--smaller-font-size);
    color: var(--text-color);
}
/*=========== SCROLL UP ==================*/
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    background-color: var(--nav-color);
    border-radius: .25rem;
    padding: .45rem;
    opacity: 9;
    z-index: var(--z-tooltip);
    transition: .4s;
}
.scrollup__icon {
    color: var(--text-color);
    font-size: 1.35rem;
}
.scrollup:hover {
    background-color: var(--black-color);
    opacity: 1;
}
/* Mostrar Scroll-up */
.show-scroll {
    bottom: 5rem;
}

/*=============== SCROLL BAR ================*/
::-webkit-scrollbar {
    width: .60rem;
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb {
    background-color: var(--text-color-alt);
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--title-color);
}

/*============= MEDIA QUERIES ===============*/
/* Small Devices */
@media screen and (max-width: 340px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
    .home__title {
        margin-bottom: 1rem;
    }
    .home__subtitle {
        font-size: var(--normal-font-size);
        padding: 0;
        line-height: 1.3;
        text-align: justify;
    }
    .founders__container {
        grid-template-rows: 1fr 120px;
    }
    .founder__article {
        grid-template-columns: 142px;
        justify-content: center;
    }
    .founders__card {
        height: 100px;
    }
    .founders__text {
        position: relative;
        display: flex;
        
    }
    .founders__text p {
        position: absolute;
        display: flex;
    }
    /*
    .carroussel {
        display: flex;
        background: var(--black-color);
        height: auto;
    }
    #slider {
        position: static;
        width: auto;
        height: fit-content;
    }
    input[type=radio] {
        display: none;
    }
    #slider label {
        position: relative;
    }
    #s1:checked ~ #slide1, #s1:checked ~ #slide2, #s1:checked ~ #slide3,
    #s1:checked ~ #slide4, #s1:checked ~ #slide5, #s5:checked ~ #slide5 {
        transform: none;
    }
    #slider label h1 {
        font-size: var(--big-font-size);
        height: 2.7rem;
        padding: 0 2.2rem;
    } */
}

/* Medium Devices */
@media screen and (min-width: 576px) {
    .home__container {
        grid-template-columns: 8fr 1fr;
    }
    .home__data {
        padding: 6rem 0 0 0;
    }
    .home__title {
        font-size: var(--h2-font-size);
    }
    .home__subtitle {
        font-size: var(--normal-font-size);
        line-height: 1.2;
        padding: 2rem;
    }
    .home__img {
        top: -12rem;
    }
    .founders__container {
        grid-template-rows: 1fr 124px
    }
    /*.carroussel {
        height: 50vw;
    }
    #slider {
        width: 60%;
        height: 40vw;
        margin: 90px auto;
    }
    input[type=radio] {
        width: 12px;
    }
    #slider label {
        align-items: end;
    }
    #slider label h1 {
        font-size: var(--h2-font-size);
        height: 3.75rem;
        padding: 0 .70rem;
    }*/
    .footer__container {
        grid-template-columns: .4fr .6fr .6fr 2fr;
    }
    .footer__logo {
        width: 5rem;
    }
    
}

@media screen and (min-width: 767px) {
    body {
        margin: 0;
    }
    .section {
        padding: 6rem 0 2rem;
    }
    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav__list {
        flex-direction: row;
        column-gap: 3.5rem;
    }
    .nav__link {
        font-size: var(--normal-font-size);
        text-transform: initial;
        color: var(--title-color);
    }
    .nav__toggle, .nav__close {
        display: none;
    }
    .home__container {
        position: relative;
        grid-template-columns: 60% 40%;
    }
    .home__img {
        top: 0;
        left: 34rem;
    }
    .home__data {
        padding: 8rem 0 0 0;
    }
    .founders__container {
        grid-template-rows: 1fr 100px;
    }
    .founder__article {
        gap: 4rem 1.5rem;
    }
    .founders__card {
        height: 100px;
    }
    /*#slider label h1 {
        padding: 0 4rem;
    }*/
    .footer__container {
        grid-template-columns: .4fr .7fr .7fr 1fr;
    }
}

/* Large Devices */
@media screen and (min-width: 1024px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    .nav {
        justify-content: end;
    }
    .nav__logo {
        margin-right: auto;
    }
    .nav__menu {
        margin-right: 2rem;
    }
    .home__container {
        grid-template-columns: 67% 33%;
    }
    .home__title {
        font-size: 1.8rem;
    }
    .home__subtitle {
        padding: 2rem;
    }
    .home__img {
        left: 40rem;
    }
    .founders__container {
        grid-template-columns: 60% 40%;
        grid-template-rows: 1fr;
        column-gap: 1rem;
        row-gap: 0;
    }
    /*#slider {
        margin: 60px auto;
        height: 29vw;
    }
    .footer__container {
        padding-top: 3rem;
    }
    .footer__copy {
        margin-top: 9rem;
    }
    .carroussel {
        height: 34vw;
    }
    #slider label h1 {
        font-size: 2rem;
        padding: 0 9rem;
        height: 5rem;
    }*/
}