/*========Google Fonts - Petrona========*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Petrona:ital,wght@0,100..900;1,100..900&display=swap');
/*=========Google Fonts - Inter=========*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*===================== VARIAVEIS CSS ===========================*/
:root {
    --header-height: 3rem;

    /*===================== CORES ===========================*/
    --hue-color: 338;
    --black-color: hsl(var(--hue-color), 0%, 2%);
    --nav-color: #1B1B1B;
    --title-color: #fff;
    --text-color: hsl(var(--hue-color), 0%, 75%);
    --text-color-alt: #FF1467;
    --button-color: #332F2F;
    --text-gradient: linear-gradient(hsl(var(--hue-color), 26%, 39%), hsl(var(--hue-color), 4%, 8%));
    --background: linear-gradient(180deg, rgba(209,21,85,1) 0%, rgba(47,19,29,1) 50%, rgba(70,4,26,1) 100%);

    /*================= FONTES E TIPOGRAFIA ===================*/
    --primary-font: "Petrona", serif;
    --secundary-font: "Inter", sans-serif;


    /*================= GROSSURA DA FONTE ===================*/


    /*================= MARGENS ===================*/
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /*================= Z-INDEX ===================*/
    --z-tooltip: 10;
    --z-fixed: 100;

}

/*================= TIPOGRAFIA RESPONSIVA ===================*/
@media screen and (min-width: 968px) {
    :root{
        --bigger-font-size: 3.5rem;
        --big-font-size: 2.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1.125rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
    }
}
@media screen and (max-width: 340px) {
    :root{
        --big-font-size: 1rem;
        --h2-font-size: .938rem;
        --h3-font-size: .813rem;
        --normal-font-size: .738rem;
        --small-font-size: .613rem;
        --smaller-font-size: .75rem;
    }
}



/*================= BASE ===================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--secundary-font);
    font-size: var(--normal-font-size);
    background: var(--background);
    color: var(--text-color-alt);
}

h1, h2, h3, p {
    color: var(--title-color);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}

/*================= CLASSES REUTILIZAVEIS ===================*/
.section {
    padding: 4rem 0 2rem;
    background: transparent;
}



/*================= LAYOUT ===================*/
.container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
}
.grid {
    display: grid;
}

/*================= HEADER ===================*/
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--nav-color);
}
/*================= NAV ===================*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo {
    display: flex;
    width: 9rem;
}

.nav__toggle {
    font-size: 1.2rem;
    color: var(--text-color);
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        background-color: var(--nav-color);
        top: -100%;
        left: 0;
        width: 100%;
        padding: 4rem 0 3rem;
        transition: .6s;
    }
    .user i{
        color: var(--text-color-alt);
        border: solid 1px var(--text-color-alt);
        border-radius: 20px;
        padding: 4px;
        transition: all 0.3s ease;
    }

}

.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.nav__link {
    color: white;
    font-size: var(--h2-font-size);
    text-transform: uppercase;
    font-weight: var(--font-semi-bold);

}
.nav__link:hover {
    background: var(--text-color-alt);
    color: transparent;
    -moz-background-clip: text;
    background-clip: text;
}

.nav__user-actions {
    display: flex;
    gap: 1rem;
}

.user i {
    cursor: pointer;
    color: var(--text-color-alt);
    border: 1px solid var(--text-color-alt);
    border-radius: 50px;
    padding: 8px;
    transition: all 0.3s ease;
}
.user i:hover, button:hover {
    background-color: var(--text-color-alt);
    color: var(--text-color);
}
button {
    display: inline-block;
    padding: 9px 25px;
    background: var(--button-color);
    border: 1px solid var(--text-color-alt);
    color: var(--text-color-alt);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.nav__close {
    position: absolute;
    font-size: 1.5rem;
    top: 1rem;
    right: 1rem;
    color: var(--text-color);
    cursor: pointer;
}

/*== mostrar menu ==*/
.show-menu {
    top: 0;
}


/*============= MEDIA QUERIES ===============*/
/* Small Devices */
@media screen and (max-width: 340px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
}

/* Medium Devices */
@media screen and (min-width: 576px) {
    .footer__container {
        grid-template-columns: .4fr .6fr .6fr 2fr;
    }
    .footer__logo {
        width: 5rem;
    }
    
}

@media screen and (min-width: 767px) {
    body {
        margin: 0;
    }
    .section {
        padding: 6rem 0 2rem;
    }
    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav__list {
        flex-direction: row;
        column-gap: 3.5rem;
    }
    .nav__link {
        font-size: var(--normal-font-size);
        text-transform: initial;
        color: var(--title-color);
    }
    .nav__toggle, .nav__close {
        display: none;
    }
    .footer__container {
        grid-template-columns: .4fr .7fr .7fr 1fr;
    }
}

/* Large Devices */
@media screen and (min-width: 1024px) {
    .container {
        margin-left: 4rem;
        margin-right: 1rem;
        max-width: 95vw;
    }
    .nav {
        justify-content: end;
    }
    .nav__logo {
        margin-right: auto;
    }
    .nav__menu {
        margin-right: 2rem;
    }
    .footer__container {
        padding-top: 3rem;
    }
    .footer__copy {
        margin-top: 9rem;
    }
    
}

/*============= ALBUNS =================*/
.card__albuns {
    grid-template-rows: 1fr 1fr;
    row-gap: 2rem;
}

/*== LANCAMENTOS ==*/
.albuns__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
}
.titulo {
    display: flex;
    align-items: baseline;
    margin-right: auto;
}
.titulo p {
    margin-left: 10px;
}
.titulo p span {
    color: var(--text-color-alt);
}
.select__container {
    display: flex;
    position: relative;
    border: 1px solid #D7D1D3;
    padding: 3px;
    border-radius: 5px;
    color: var(--title-color);
    align-items: center;
}
.select__container select {
    height: 100%;
    width: 8rem;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    color: var(--title-color);
    margin-left: 6px;
}
.select__container option {
    color: #1B1B1B;
}
.tipo {
    color: var(--text-color);
}
.btn {
    position: absolute;
    top: 12px;
    right: 2px;
    border-left: 2px solid #D7D1D3;
    padding: 3px;
    color: var(--text-color);
    pointer-events: none;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
/*== CARDS ==*/

.card__container .slider__wrapper,
.card__container2 .slider__wrapper2 {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 7) - 12px);
    gap: 2px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;

}
.slider__wrapper::-webkit-scrollbar,
.slider__wrapper2::-webkit-scrollbar {
    display: none;
}
.card__container, .card__container2 {
    position: relative;
    max-width: 1225px;
    width: 100%;
}
.card__container button,
.card__container2 button {
    background: rgba(0, 0, 0, 0.56);
    display: flex;
    color: white;
    backdrop-filter: blur(2px);
    width: 74px;
    height: 74px;
    border-radius: 10px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
    top: 44%;
    transform: translateY(-50%);
    position: absolute;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 2px solid transparent;
}
.card__container button:first-child,
.card__container2 button:first-child {
    left: -22px;
}
.card__container button:last-child,
.card__container2 button:last-child {
    right: -22px;
}
.card__container button i,
.card__container2 button i {
    width: 20px;
    font-size: 32px;
    display: flex;
    position: absolute;
    height: 49.02px;
    align-items: center;
    justify-content: center;
}
.slider__wrapper.dragging .playlist__card,
.slider__wrapper2.dragging .playlist__card2 {
    cursor: grab;
    user-select: none;
}
.slider__wrapper.dragging,
.slider__wrapper2.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.card__container .playlist__card,
.card__container2 .playlist__card2 {
    scroll-snap-align: start;
}
.slider__wrapper.no-transition,
.slider__wrapper2.no-transition {
    scroll-behavior: auto;
}
.playlist__card,
.playlist__card2 {
    position: relative;
    transition: all 0.9s;
    padding: 7px;
    border-radius: 6px;
}
.playlist__card:hover,
.playlist__card2:hover {
    background: rgb(151 147 147 / 47%);
}

.playlist__card img,
.playlist__card2 img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.playlist__card .info,
.playlist__card2 .info2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.5s ease-out;
}
.playlist__card .info i,
.playlist__card2 .info2 i {
    font-size: 2.3rem;
    color: #00FF00;
}
.playlist__card:hover .info,
.playlist__card2:hover .info2 {
    opacity: 1;
}

.playlist__card h2,
.playlist__card2 h2  {
    font-size: 16px;
}
.playlist__card p,
.playlist__card2 p {
    font-size: 16px;
}



@media screen and (max-width: 900px) {
    .card__container .slider__wrapper {
        grid-auto-columns: calc((100% / 6) - 12px);
    }
}

@media screen and (max-width: 600px) {
    .card__container .slider__wrapper {
        grid-auto-columns: calc((100% / 4) - 8px);
    }
}
  
/*============= TOP ALBUNS ============*/
.bg {
    border: 2px solid red;
}

.top__albuns {
    grid-template-areas: "a a";
    gap: 42px;
    grid-auto-columns: 48%;
}
.tocadas, .procuradas {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    gap: 17px;
}



.list__songs ol {
    list-style-type: none;
    counter-reset: apples;
    width: -webkit-fill-available;
    color: #ADADAD;
    display: grid;
    grid-auto-rows: 23%;
}
.list__songs li {
    display: grid;
    border-bottom: 1px solid #5B5B5B;
    align-items: center;
    grid-template-columns: 10% 75% 15%;
}
.list__songs li::before {
    content: counter(apples);
    counter-increment: apples;
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
}
.list__songs .time {
    display: flex;
    justify-content: space-around;
}
.info__songs {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.info__songs .info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.img__album {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
.info .artist, .info  {
    font-size: 16px;
}

/* ======================= VIBES =============================*/
.vibes {
    background: linear-gradient(148deg, rgba(255,65,73,1) 0%, rgba(186,2,118,1) 100%);
    margin-top: 3.8rem;
}
.vibes__swiper {
    position: relative;
    height: 100%;
}
swiper-container {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    margin-bottom: 4rem;
    position: relative;
}

swiper-slide img {
    display: block;
    width: 100%;
    filter: blur(2px);

}
.swiper__info {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 76%;
    left: 34%;
    align-items: center;
}

/*======================== FOOTER =============================*/
.footer {
    background: var(--black-color);
}
.footer__container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 2rem;
}
.footer__logo {
    width: 7rem;
}
.footer__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}
.footer__links {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}
.footer__link {
    color: var(--text-color);
}
.footer__link:hover {
    color: var(--primary-color);
}
.footer__form {
    display: flex;
    column-gap: .5rem;
    background-color: var(--nav-color);
    padding: .5rem .75rem;
    border-radius: .5rem;
    margin-bottom: var(--mb-2);
}
.footer__input {
    background-color: var(--nav-color);
    width: 90%;
    color: white;
    border: none;
}
.footer__input::placeholder {
    color: var(--text-color);
    font-size: var(--normal-font-size);
    font-family: var(--secundary-font);
}
.button__flex {
    display: inline-flex;
    align-items: center;
    column-gap: .75rem;
}
.footer__social {
    display: flex;
    column-gap: 1.25rem;
}
.footer__social-link {
    display: inline-flex;
    color: var(--text-color);
    background-color: var(--nav-color);
    padding: .5rem;
    border-radius: .25rem;
    font-size: 1rem;
}
.footer__social-link:hover {
    background-color: var(--black-color);
}
.footer__copyright, .footer__link-copy {
    margin-top: 5rem;
    text-align: center;
    font-size: var(--smaller-font-size);
    color: var(--text-color);
}

/*=============== SCROLL BAR ================*/
::-webkit-scrollbar {
    width: .60rem;
    border-radius: .5rem;
    background-color: #1B1B1B;
}
::-webkit-scrollbar-thumb {
    background-color: var(--text-color-alt);
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--title-color);
}