* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  
  background-image: url("Dial-Login123.bmp");

  background-size: cover;
  background-repeat: no-repeat;
  width: 120%;
  height: 0;
  padding-top: 21%;  
  
}



h1 {
  text-align: center;
  margin: 10px 0;
  color: #cf0474;
}


form {
  display: flex;
  flex-direction: column;
  padding: 03px;
  width: 20vw;
  margin: auto;
  

}
input {

  font-size: 1.1rem;
  padding: 3px;
  border-radius: 3px;
  border: 0;
  outline: none;
  margin-bottom: 20px;
  color: #cf0474;

}
.botoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fffcfe;
}
.cadastro,
.limpa,.botoes2 {
  width: 10vw;
  padding: 05px;
  font-size: 1.1rem;
  border: 0;
  border-radius: 4px;
  color: #cf0474;
}
.cadastro {
  background-color: rgba(180, 37, 37, 0.459);
}
.limpa {
  background-color: rgba(95, 95, 95, 0.459);
}

a {
  text-decoration: none;
  color: #f0eaed;
  text-align: center;
}
